
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

<!--body {background-color: skyblue;} -->
body {
	background-color: skyblue;
	background-image: url("../images/SandS-Contact-bg.png");
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
}

	
