
	h1 {color:MediumBlue;font-size: 9vw;}
	h2 {color:MediumBlue;font-size: 7vw;}
	h3 {color:MediumBlue;font-size: 4vw;}
	/* rgb(152, 251, 152, 1.0); /*palegreen*/
	.empty0 {left:1% ; height: 18%;}
	.empty1 {left:1% ; width: 45%; font-size:12vw;}
	.empty5 {left:1% ; width: 65%; font-size:45vw;}
	.txtc { width:80%; text-align:center;}
	.center {margin: auto; width: 90%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%; }
	.center9 {margin: auto; width: 90%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%; }
	.center5 {margin: auto; width: 70%;  border:1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%;}
	.paper {float: left; width: 42%; font-size:1.5vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.paperr {float: right; margin-right:1%; width: 70%; font-size:1.5vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.papero {display: block; margin: auto; width: 90%; font-size:1.5vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.poi {display: block; margin: auto; width:95%; border: 2px solid white; padding: 1%;}
	.boi {width:40vw; padding: 1%;} 
	.boi2 {width:34vw; padding: 1%;} 
	.left9 {position: relative; left: 1%; width: 95%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%;}
	.left8 {position: relative; left: 25%; width: 80%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%;}
	.left7 {position: relative; left: 50%; width: 73%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%;}
	.left1 {position: relative; left: 3%; width: 100%; border: 1px; font-size:2vw; color:rgb(152, 251, 152, 0.0); padding: 1%;}
	.right9 {position: relative; right: 40%; width: 90%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:2vw; padding: 1%;}
	.pictl {float:left; display:block; margin-left:auto; margin-right:auto; width: 98%; padding:0%;}
	.pictr {float:right; display:block; margin-left:auto; margin-right:auto; width: 98%; padding:0%;}
	.picto {display:block; margin-left:auto; margin-right:auto; width:60vw; padding:1%;}
	.emp {font-size:4vw;}	
	.launch {position: relative; background-color: Ivory; left: 1%; width: 63vw; font-size:1.5vw;}
	.footer {position: relative; left: 90%; width: 75%; color:Green; font-size:1vw;}
	.mess {margin: auto; width: 90%; border: 1px solid green; font-size:3vw; color: palegreen;}

/* LightSkyBlue #87CEFA rgba(135,206,250,1.0) */

	.obox {		/*Outer box container*/
		float:left; align-items: flex-start; text-align: center; width:100vw; border: 0.3em solid rgba(135,206,250,0.0); font-size:1vw; padding:0.2em;
	}
	.mtbox {	/*Inner box container varible width medium is half*/
		display: inline-flex; width:45vw; height: 40vw; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: left; color:DimGray; font-size:1vw; padding:0.2em;
	}
	.fbox {	/*Inner box container varible width medium is half*/
		display: inline-block; width:45vw; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: left; color:DimGray; font-size:1vw; padding:0.2em;
	}
	.ibox {		/*Inner box container*/
		display: inline-block; width:22%; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:1vw; padding:0.2em;
	}
	.shadows {		/*Inner box container with small shadow*/
		display: inline-block; width:22%; height: 16em; border: 0.2em solid rgba(135,206,250,0.7); box-shadow: 2px 2px 1px 1px rgba(135,206,250,0.3), -2px -2px 1px 1px rgba(135,206,250,0.3); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:1.2vw; padding:0.2em;
	}
	.shadowl {		/*Inner box container with large shadow*/
		display: inline-block; width:22%; height: 12em; border: 0.2em solid rgba(135,206,250,0.7); box-shadow: 2px 2px 2px 2px rgba(135,206,250,0.9), -2px -2px 2px 2px rgba(135,206,250,0.9); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:3vw; padding:0.2em;
	}

.navbar { overflow: hidden; width:53vw; background-color: darkslateblue;}

.navbar a {
  float: left;
  font-size: 2vw;
  color: white;
  text-align: center;
  padding: 3px 4px;
  text-decoration: none;
}

.dropdown {float: left; overflow: hidden;}

.dropdown .dropbtn {
  font-size: 2vw;  
  border: none;
  outline: none;
  color: white;
  padding: 3px 4px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn { background-color: mediumblue;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  width:40vw;
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  /*padding: 12px 16px;*/
  padding: 3px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: lightblue;}

.dropdown:hover .dropdown-content {display: block;}

