	
	h1 {color:MediumBlue;font-size: 8vw;}
	h2 {color:MediumBlue;font-size: 5vw;}
	h3 {color:MediumBlue;font-size: 3vw;}
	/* rgb(152, 251, 152, 0.0); /*palegreen*/
	.empty0 {left:1% ; height: 10%;}
	.empty1 {left:1% ; width: 55%; font-size:10vw;}
	.empty5 {left:1% ; width: 65%; font-size:35vw;}
	.txtc { width:80%; text-align:center;}
	.center {margin: auto; width: 90%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%; }
	.center9 {margin: auto; width: 90%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%; }
	.center5 {margin: auto; width: 50%;  border:1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.paper {float: left; width: 40%; font-size:1vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.paperr {float: right; width: 40%; font-size:1vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.papero {display: block; margin: auto; width: 90%; font-size:1vw; color:cornsilk; background-color: darkslateblue; border: 1px solid White; padding: 1%;}
	.poi {float: left; width:95%; border: 2px solid White; padding: 1%;}
	.boi {width:35vw; padding: 1%;} 
	.boi2 {width:24vw; padding: 1%;}
	.left9 {position: relative; left: 1%; width: 95%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.left8 {position: relative; left: 25%; width: 80%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.left7 {position: relative; left: 50%; width: 70%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.left1 {position: relative; left: 3%; width: 80%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.right9 {position: relative; right: 40%; width: 70%; border: 1px solid rgb(152, 251, 152, 0.0); font-size:1vw; padding: 1%;}
	.pictl {float:left; display:block; margin-left:auto; margin-right:auto; width: 98%; padding:0%;}
	.pictr {display:block; margin-left:auto; margin-right:auto; width: 98%; padding:0%;}
	.picto {display:block; margin-left:auto; margin-right:auto; width:40vw; padding:1%;}
	.emp {font-size:2vw;}
	.launch {position: relative; background-color: LightGray; left: 1%; width: 43vw; font-size:1vw; padding: 0;}
	.footer {position: relative; left: 90%; width: 75%; color:Gold; font-size:1vw;}
	.mess {margin: auto; width: 20%; border: 1px solid gold; font-size:100%; color:yellow;}
	.overlay {position: relative; margin-top:20px; color:rgba(95,47,13,1.0);}
	.overlay2 {position: relative; margin-top:10px; color:rgba(95,47,13,1.0);}
	.iform {position:relative; margin-left:5%; width:95%;}
	.obox {		/*Outer box container*/
		float:left; align-items: flex-start; text-align: center; width:100vw; border: 0.3em solid rgba(135,206,250,0.0); font-size:1vw; padding:0.2em;
	}
	.obox9 {		/*Outer box container*/
		position:relative; align-items: flex-start; text-align: center; font-size:1vw; margin:auto; width:45vw; border:0.2em solid rgba(0,191,255,0.8); padding:4vw;
	}
	.mtbox {	/*Inner box container varible width wide is third*/
		display: inline-flex; width:32vw; height: 35vw; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: left; color:DimGray; font-size:1vw; padding:0.2em;
	}
	.ltbox {
		display: inline-flex; width:32vw; height: 10vw; border: 0.2em solid rgba(0,191,255,0.0); background-color: rgba(255,255,255,0.0);text-align: left; color:DimGray; font-size:1vw; padding:0.2em;
	}
	.fbox {	/*Inner box container varible width wide is third*/
		display: inline-flex; width:30vw; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: left; color:DimGray; font-size:1vw; padding:0.2em;
	}
	.ibox {		/*Inner box container*/
		display: inline-block; width:22%; border: 0.2em solid rgba(135,206,250,0.7); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:1vw; padding:0.2em;
	}
	.shadows {		/*Inner box container with small shadow*/
		display: inline-block; width:22%; height: 16em; border: 0.2em solid rgba(135,206,250,0.7); box-shadow: 2px 2px 1px 1px rgba(135,206,250,0.3), -2px -2px 1px 1px rgba(135,206,250,0.3); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:1vw; padding:0.2em;
	}
	.shadowl {		/*Inner box container with large shadow*/
		display: inline-block; width:22%; height: 12em; border: 0.2em solid rgba(135,206,250,0.7); box-shadow: 2px 2px 2px 2px rgba(135,206,250,0.9), -2px -2px 2px 2px rgba(135,206,250,0.9); background-color: rgba(255,255,255,0.5); text-align: center; color:Blue; font-size:3vw; padding:0.2em;
	}
	/* Chocolate rgb(210,105,30)*/
	.navpic {
		display:block; margin-left:2em; width:5em; border: 0.3em solid rbga(72,61,139,0.0); padding:0.5em;
}

/* Navbar container */
.navbar {overflow: hidden; width:55vw; background-color: darkslateblue;font-family: Arial;}

/* Links inside the navbar */
.navbar a {float: left; font-size: 1vw; color: white; text-align: center; padding: 3px 4px; text-decoration: none;}
  /*padding: 14px 16px;*/
  
/* The dropdown container */
.dropdown {float: left; overflow: hidden;}

/* Dropdown button */
.dropdown .dropbtn {font-size: 1vw; border: none; outline: none; color: white; padding: 3px 4px; 
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a darker background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn { background-color: mediumblue;}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  width: 40vw
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 3px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {background-color: lightblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

