	.footer {position: fixed; bottom: 1%; left: 90%; width: 75%; color:White; font-size:1vw;}
	.empty0 {left:1% ; height: 10%;}
	.empty1 {left:1% ; width: 55%; font-size:10vw;}
	.empty5 {left:1% ; width: 65%; font-size:35vw;}
	.txtc { width:80%; text-align:center;}
	.center {margin: auto; width: 90%; border: 1px; padding: 1%; }
	.center9 {margin: auto; width: 90%; border: 1px solid PaleGreen; padding: 1%; }
	.center5 {margin: auto; width: 50%;  border:1px solid PaleGreen; padding: 1%;}
	.left9 {position: relative; left: 1%; width: 95%; border: 1px solid PaleGreen; padding: 1%;}
	.left8 {position: relative; left: 25%; width: 80%; border: 1px solid PaleGreen; padding: 1%;}
	.left7 {position: relative; left: 50%; width: 70%; border: 1px solid PaleGreen; padding: 1%;}
	.left1 {position: relative; left: 3%; width: 80%; border: 1px; padding: 1%;}
	.right9 {position: relative; right: 40%; width: 70%; border: 1px solid PaleGreen; padding: 1%;}
	.emp {font-size:2vw;}
	.launch {position: fixed; bottom: 5%; background-color: Gainsboro; left: 1%; width: 41vw; font-size:1vw; padding: 0;}
	.mess {margin: auto; width: 20%; border: 1px solid gold; font-size:100%; color:yellow;}
