

img {vertical-align: baseline;}

body {
	background-color: skyblue;
	background-image: url("../images/Homeforsale.png");
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat; 
        font-family: Arial, Helvetica, sans-serif;
	margin: 5px 5px 5px 5px; 
}

/*	.mess {margin: auto; width: 20%; border: 1px solid blue; font-size:100%; color:red;} */


