
body {
	background-color: skyblue;
	background-image: url("../images/Mountain-top1080_65.png");
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat; 
        font-family: Arial, Helvetica, sans-serif;
	margin: 5px 5px 5px 5px; 
}

